* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
}

header {
    background: #21333e;
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #c0c3d0;
}

header .right {
    display: flex;
    gap: 40px;
    margin-right: 200px;
}

header .left {
    margin-left: 200px;
}

nav {
    display: flex;
    height: 86.2px;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.logo {
    color: #c0c3d0;
    font-family: Montserrat;
    font-size: 19.2px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.2px;
    letter-spacing: 5px;
    z-index: 3;
}

.logo span {
    color: #04ffff;
    font-family: Montserrat;
    font-size: 19.2px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.2px;
    letter-spacing: 5px;
    border-radius: 100px 0px 0px 100px;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    opacity: 0.5;
    background: #2d6c6c;
    z-index: 3;
}

nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
    z-index: 3;
}

nav a {
    text-decoration: none;
    color: #c0c3d0;
    z-index: 3;
}

nav i {
    color: #c0c3d0;
    z-index: 3;
}

nav button {
    display: flex;
    width: 143.02px;
    height: 46px;
    padding: 13px 25.659px 14px 26px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #058283;
    background: #058283;
    color: #fff;
}

nav button:hover {
    background: #2d6c6c;
}

nav a:hover {
    color: #fff;
}

.hamburger {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.back-video {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}

.overlay {
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.hero {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    z-index: 1;
    text-align: center;
}

.breadcrumb {
    color: #ccc;
    font-size: 14px;
    margin-bottom: 10px;
}

.breadcrumb a {
    color: #00a6a6;
    text-decoration: none;
}

.hero h1 {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    margin-top: 10px;
}

.white-home {
    background-color: #fff;
    height: 200px;
    width: 100%;
    z-index: 3;
    top: 80px;
    position: relative;
}


.about-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 450px 0 100px 200px;
    padding: 20px;
    gap: 40px;
    line-height: 30px;
}

.about-left,
.about-right {
    flex: 1 1 450px;
    font-size: 16px;
}

.about-left h5 {
    color: #058283;
    margin-bottom: 10px;
    font-size: 14px;
    letter-spacing: 1px;
}

.about-left h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bolder;
}

.about-left h2 span {
    background: #c0f0f0;
    padding: 5px 15px;
    border-radius: 5px;
    color: #2d6c6c;
    font-weight: bolder;
}

.about-left p {
    margin-bottom: 15px;
    color: #606D75;
}

.about-left blockquote {
    border-left: 4px solid #c0f0f0;
    padding-left: 20px;
    color: #606D75;
    margin: 20px 0;
    font-style: italic;
}

.about-left ul {
    margin: 20px 0;
    padding-left: 20px;
}

.about-left ul li {
    list-style: disc;
    margin-bottom: 8px;
    color: #606D75;
}

.about-right {
    margin-left: 100px;
}

.about-right h3 {
    font-size: 22px;
    margin-bottom: 20px;
}

.occupation-item {
    margin-bottom: 20px;
}

.occupation-line {
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid #058283;
    padding-bottom: 5px;
}

.occupation-line svg {
    margin-right: 15px;
    min-width: 24px;
}

.occupation-line span {
    font-size: 14px;
    color: #606D75;
}


#page3 {
    height: 814px;
    background-color: #111117;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-page3 {
    display: flex;
    width: 90%;
    max-width: 1400px;
    gap: 50px;
    text-align: left;
    padding-left: 200px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content {
    flex: 1;
    padding: 20px;
    line-height: 50px;
}

.subtitle {
    color: #00e0c6;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 15px;
}

.title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.title span {
    color: #00e0c6;
}

.description {
    font-size: 16px;
    color: #c4c4c4;
    margin-bottom: 30px;
    line-height: 1.6;
}

.features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
}

.feature-item {
    display: flex;
    flex-direction: column;
}

.feature-item i {
    font-size: 24px;
    color: #00e0c6;
    margin-bottom: 10px;
}

.feature-item h4 {
    font-size: 18px;
    margin-bottom: 8px;
}

.feature-item p {
    font-size: 14px;
    color: #c4c4c4;
    line-height: 1.4;
}

.image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 814px;
    width: 960px;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    max-width: 500px;
}


.page4 {
    height: 900px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    line-height: 55px;
    padding-top: 120px;
    flex-wrap: wrap;
}

.page4 h6 {
    font-size: 14px;
    color: #00a6a6;
    font-weight: 700;
}

.page4 h1 {
    font-weight: 800;
    font-size: 48px;
    color: #000;
}

.page4 span {
    color: #058283;
    background-color: #00a6a630;
    padding: 0 10px;
}

.page4 .para {
    padding-top: 40px;
    line-height: 30px;
    color: #606d60;
    text-align: center;
}

.page4 img {
    margin-top: 20px;
}


.page5 {
    height: 285px;
    width: 100%;
    background-color: #eef4ed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.page5 img {
    height: 75px;
    padding: 25px 0;
}


footer {
    background-color: #111117;
    display: flex;
    flex-direction: column;
    padding-top: 130px;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.foo-container {
    height: 361px;
    width: auto;
    background-color: #111117;
    color: #c0c3d0;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.box1, .box2{
    line-height: 30px;
    font-size: 16px;
}

.box1 p{
    margin: 25px 0;
}

.box1 button {
    display: flex;
    width: 170.77px;
    height: 46px;
    padding: 13px 25.616px 14px 26px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #058283;
    background-color: transparent;
    color: #c0c3d0;
    margin-top: 25px;
}

.box1 button:hover{
    background-color: #058283;
}

.box2 {
    width: 262.48px;
    height: 331.8px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.box2 h3{
    font-size: 24px;
    font-weight: 700;
    color: #f9f9f9;
    padding-bottom: 20px;
}

.foo2{
    font-size: 14px;
    width: 100%;
    height: 90px;
    background: rgba(0, 0, 0, 0.25);
    color: #c0c3d0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    gap: 200px;
}

.foo2 span{
    color: #058283;
}

.top i {
    height: 48px;
    width: 48px;
    color: #058283;
    background: #f1f1f1;
    font-size: 22px;
    padding-top: 15px;
    text-align: center;
    border-radius: 48%;
}




@media (max-width: 1254px) {
    .overlay {
        height: 96vh;
    }
}

@media (max-width: 1154px) {
    header .right {
        margin-right: 100px;
    }

    header .left {
        margin-left: 100px;
    }

    .about-section {
        margin-top: 500px;
    }

    .about-right {
        margin-left: 0;
    }

    #page3 {
        height: auto;
        padding: 60px 0;
    }

    .container-page3 {
        flex-direction: column;
    }

    .content {
        margin-left: -150px;
    }

    .title {
        font-size: 36px;
    }

    .features {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .image {
        order: -1;
        margin-bottom: 30px;
        max-width: 50%;
        margin-left: -150px;
    }
    
    .foo-container .b3{
        display: none;
    }
}

@media (max-width: 954px) {
    header .right {
        margin-right: 50px;
    }

    header .left {
        margin-left: 50px;
    }

    nav li {
        position: absolute;
        top: 102px;
        right: 0;
        background: #000;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        display: none;
    }

    nav a,
    nav button,
    nav i {
        margin: 5px 0;
    }

    .hamburger {
        display: block;
        z-index: 5;
    }

    .overlay {
        top: 33px;
        height: 95.5vh;
    }

    .about-section {
        margin: 400px 0 0 0;
    }

    #page3 {
        height: auto;
        padding: 60px 0;
    }

    .container-page3 {
        flex-direction: column;
    }

    .content {
        margin-left: -150px;
    }

    .title {
        font-size: 36px;
    }

    .features {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .image {
        order: -1;
        margin-bottom: 30px;
        max-width: 50%;
        margin-left: -150px;
    }

    .page4 img {
        width: 700px;
    }

    .foo2{
        gap: 100px;
    }
}

@media (max-width: 854px) {
    header .right {
        margin-right: 20px;
        gap: 15px;
    }

    header .left {
        margin-left: 20px;
    }

    .about-section {
        margin-top: 600px;
    }

    .foo-container .b2{
        display: none;
    }

    .foo2{
        gap: 50px;
    }
}

@media (max-width: 695px) {
    header {
        flex-wrap: wrap;
        line-height: 40px;
    }

    header .right i {
        display: none;
    }

    .overlay {
        top: 55px;
        height: 93vh;
    }

    .about-section {
        flex-direction: column;
        gap: 20px;
    }

    .about-left,
    .about-right {
        flex: 1 1 100%;
    }

    .about-left h2 {
        font-size: 28px;
    }

    .about-right h3 {
        font-size: 20px;
    }

    .occupation-item {
        flex-wrap: wrap;
    }

    .occupation-item i {
        margin-bottom: 8px;
    }

    .page4 img {
        width: 500px;
    }
}

@media (max-width: 585px) {
    header .right {
        display: none;
    }

    .hamburger {
        display: block;
        position: relative;
        right: 50px;
    }

    .about-section {
        margin-top: 450px;
    }

    .image img {
        order: -1;
        margin-bottom: 30px;
        max-width: 350px;
        margin-left: -100px;
    }

    .page4 h1 {
        font-size: 34px;
        text-align: center;
    }

    .page4 img {
        width: 400px;
    }

    .page4{
        height: 850px;
    }
}

@media (max-width: 507px){
    .foo-container{
        height: 550px;
        padding-left: 100px;
    }
    .box1{
        padding-left: 20px;
    }
    .foo2{
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 400px) {
    .image img {
        max-width: 300px;
        margin-left: -20px;
    }

    .content {
        margin-left: -200px;
    }

    .page4 h1 {
        font-size: 30px;
        text-align: center;
    }

    .page4 img {
        width: 300px;
    }

    .page4{
        height: 800px;
    }

    .foo2{
        height: 130px;
    }
}
@media (max-width: 375px) {
    .foo-container{
        padding-left: 30px;
    }
    .box1{
        padding-left: 30px;
    }

    .foo2{
        gap: 20px;
    }
    .image{
        max-width: 280px;
        margin-left: -180px;
    }
}